.content-area-wide {
	overflow: hidden;

	.entry-content {
		// width: 100vw;
		width: calc(100vw - (var(--frame-size, 0px) * 2));
		margin-left: calc( 50% - (50vw - var(--frame-size, 0px)));
		margin-right: calc( 50% - (50vw - var(--frame-size, 0px)));

		> * {
			margin-left: auto !important;
			margin-right: auto !important;

			&:not(.alignfull) {
				width: var(--blockWidth) !important;
			}

			&:not(.alignwide):not(.alignfull) {
				max-width: var(--blockMaxWidth) !important;
			}
		}

		> .alignwide {
			max-width: var(--blockWideWidth);
		}
	}
}