.ct-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius, 0px);
	transition: background 0.12s cubic-bezier(.455,.03,.515,.955),
				border-color 0.12s cubic-bezier(.455,.03,.515,.955);

	svg {
		fill: currentColor;
		width: var(--icon-size);
		height: var(--icon-size);

		> * {
			transition: none;
		}
	}
}